<html>
<head>
  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
  </style>
</head>
<body>
  <h1>Buzz Me In!</h1>
  <form action="/add" method="post">
    <input type="text" name="name" onClick="this.select();" value="Name">
    <input type="text" name="phone" onClick="this.select();" value="+19991231234">
    <input type="submit" value="Add">
  </form>
  
  {% if duplicate %}
  <div style="background-color:red; color:yellow">
    Duplicate phone number: {{ duplicate }}
  </div>
  <br>
  {% endif %}
  
  <table>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Last used</th>
    </tr>
    {% for a in accounts %}
      <tr>
        <td>{{ a.name }}</td>
        <td>{{ a.phone }}</td>
        <td>{{ a.date }}</td>
        <td><a href="/delete?account={{ a.key.urlsafe() }}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>